/*Upper*/
* {
  margin: 0;
  padding: 0  ;
}

  body {
    background-color: #fff;
  }
  

/*Pre Reqs for Project Guidelines*/
#main {
  /* background-color: #2E8B57; */
  background-color: gray;
  margin: 20px 10px;
  text-align: center;
  }



  #title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    padding: 20px;
    margin-bottom: 20px;
  }

  #subtext {
    margin-top: -20px;
    padding: 20px;

  }

  #img-div {
    margin: 20px;
    background-color: #fff;
    /* margin-bottom: 20px; */
  /* padding: 10px;   */
}

  #image {
    /* width: 100%; */
    padding: 20px;
    display: block;
    width: 66vw;
    height: 66vh;
    margin: 0 auto;
  }

  #img-caption {
    font-style: italic;
  padding: 10px;  
}

h2 {
  text-align: center;
}


  #timeline {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
      }

li {
  padding: 10px;
}

p {
  padding: 10px;
}

  #quote-info{
    margin: 20px 10px;
    display: block;
    font-style: italic;

      }
  
  #tribute-info {
    /* background-color: gray; */
    display: block;
    width: 33vw;
    margin: 0 auto;
    padding: 20px; 
    text-align: left;
  }

  #more-info {
    display: block;
    margin: 20px 10px;
    text-align: left;
  }

  a {
    color: blue; /* Default color */
    text-decoration: none; /* Remove underline by default */
  }
  
  a:hover {
    color: #fff; /* Color when hovered */
  }
  
  a:active {
    color: gray; /* Color when clicked */
  }
  
  button:hover{
    cursor: pointer;
  }
  