/*Upper*/
* {
  /* margin: 20px;
  padding: 20px; */
}

  body {
    background-color: #fff;
  }
  

/*Pre Reqs for Project Guidelines*/
#main {
  background-color: #2E8B57;
  margin: 20px 10px;
  text-align: center;
  }



  #title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    padding: 20px;
    margin-bottom: 20px;
  }

  #subtext {
    margin-top: -20px;
    padding: 20px;

  }

  #img-div {
    margin: 20px;
    background-color: #fff;
    /* margin-bottom: 20px; */
  /* padding: 10px;   */
}

  #image {
    /* width: 100%; */
    padding: 20px;
    display: block;
    width: 66vw;
    height: 66vh;
    margin: 0 auto;
  }

  #img-caption {
    font-style: italic;
  padding: 10px;  
}


  #timeline {
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
      }

  #quote-info{
    margin: 20px 10px;
    display: block;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
      }
  
  #tribute-info {
    /* background-color: gray; */

    display: block;
    width: 66vw;
    margin: 0 auto;
  padding: 20px; 

 display: block;
    text-align: center;
  }

  #credit-info {
    display: block;
    margin: 20px 10px;
    text-align: center;
  }

  a {
    color: blue; /* Default color */
    text-decoration: none; /* Remove underline by default */
  }
  
  a:hover {
    color: #2E8B57; /* Color when hovered */
  }
  
  a:active {
    color: gray; /* Color when clicked */
  }
  
  button:hover{
    cursor: pointer;
  }
  