/* *!Setup Section  */

/* * {
  font-size: 16px;
  margin: 0;
  padding: 0  ;
} */

/* *!Main & Image Section */

  /* body {
    background-color: #fff;
  }
  
#main {
  background-color: #fff;
  margin: 20px 10px;
  text-align: center;
  
  }

  #title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    padding: 20px;
    margin-bottom: 20px;
  }

  #subtext {
    margin-top: -20px;
    padding: 20px;
    font-size: 20px;

  }

  #img-div {
    margin: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  #image {
    width: 66vw;
    height: auto;
    max-width: 100%;
    display: block;
    
  }

  #img-caption {
    font-style: italic;
  padding: 10px;  
} */


/* *!Ep 1 Timeline Section  */


/* h2 {
  text-align: center;
  font-size: 22px;

}
  #timeline {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
      }

li {
  padding: 10px;
} */


/* *!Quote & End Info Section */


/* p {
  padding: 10px;
}

  #quote-info{
    margin: 20px 10px;
    display: block;
    font-style: italic;

}
  
  #tribute-info {
    display: block;
    width: 33vw;
    margin: 0 auto;
    padding: 20px; 
    text-align: left;
  }

  #more-info {
    display: block;
    margin: 20px 10px;
    text-align: left;
  }

  a {
    color: blue;
    text-decoration: none; 
  }
  
  a:hover {
    color: #2E8B57; 
  }
  
  a:active {
    color: gray; 
  }
  
  button:hover{
    cursor: pointer;
  }
   */